@media (max-width: 1200px) {

    .navbar {
        position: fixed;
        top: 0;
        width: 75%;
        height: 100%;
        z-index: 99;
        background: #fff;
        transform: translateX(-150%);
        box-shadow: 148px 0px 5px 0px rgba(0,0,0,0.5);
    }
    .navbar-container {
        flex-direction: column;
        align-items: start!important;
        z-index: 99;
    }
    
    .list-menu {
        width: 100%;
        order: 2;
        transform: translateX(-0%);
    }

    .nav-menu {
        order: 1;
        display: block;
    }

    .navbar .nav-menu .menu-link {
        padding: 20px 0px;
    }

    .menu-inner .menu-link {
        display: block;
    }

    .nav-menu-hotline {
        display: none!important;
    }
    
    .body-wapper {
        margin: 0;
    }
    
    .sub-banner-box {
        margin-top: -50px;
    }

    .section-sale,
    .section-sale-container.bg-image {
        height: auto;
    }

    .sale-carousel {
        position: relative;
        top: 0;
        max-width: 100%;
        padding: 15px;
    }
    
    .section-sale .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
    }

    .section-sale .title .title-link {
        font-size: 20px;
        align-items: center;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel-2 .owl-nav button.owl-next {
        transform:  translateX(20px);
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel-2 .owl-nav button.owl-prev {
        transform:  translateX(-20px);
    }

    .evaluate-carousel {
        padding: 0px 20px;
    }
    
    .new-item .blog-content .title a {
        -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    }

    footer {
        margin: 0;
    }

    .footer-top-item {
        flex-direction: column;
    }

    .footer-top .icon-box svg {
        fill: #fff;
        width: 30px;
    }
    
    .footer-top .desc-box {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    .footer-top .desc-box span {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

@media (min-width: 1300px) {
    .list-menu.fixed {
        position: fixed;
        top: 0;
    }
}