@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --primary-color: #f93;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    height: 2000px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: transparent;
    text-decoration: none;
}

.primary-btn {
    color: #fff;
    background: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.count-item {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 4px;
    background: #F65050;
    border-radius: 50%;
    transform: translateX(-12px)
    translateY(-8px);
    z-index: 99;    
}

.topbar {
    border-bottom: 1px solid #d9d9d9;
}

.top-list-key .list-key .list-link {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.top-list-key .list-key .list-link:hover {
    color: var(--primary-color);
}

.top-searchbar .searchbar-input {
    font-size: 14px;
    outline: none;
    border: none;
}

.top-searchbar .primary-btn {
    padding: 4px 8px;
    border-radius: 6px;
}

.top-searchbar .searchbar-container {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}

.menu-btn {
    background: #663300;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
}

.slogan-box {
    padding-left: 35%;
}

.slogan {
    position: absolute;
   visibility: hidden;
   opacity: 0;
   transition: 0.4s all ease-out;
}

.slogan.visible {
    opacity: 1;
    visibility: visible;
}

.action-item {
    position: relative;
}


.acc-icon {
    padding: 4px 8px;
    background: var(--primary-color);
    border-radius: 6px;
}

.action-item:hover .acc-icon {
    filter: brightness(1.2);
}

.acc-desc {
    color: #333;
    font-size: 14px;
}

.navbar .list-menu .header {
    color: #fff;
    background: var(--primary-color);
    border-radius: 6px 6px 0px 0px;
}

.navbar .list-menu .header span {
    font-size: 16px;
    font-weight: 700;
}

.navbar .nav-menu .menu-link {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.navbar .nav-menu .menu-link:hover {
    color: var(--primary-color);
    font-size: 16px;
}

.list-menu {
    position: relative;
    width: 350px;
}

.list-menu .aside-inner {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 99;
}

.list-menu .aside-inner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #FDEAB1;
    height: 100%;
    width: 11%;
}

.list-menu .aside-inner .aside-list {
    
}

.aside-list .aside-item .icon img {
    width: 24px;
}

.aside-inner .aside-list .aside-item {
    position: relative;
    z-index: 2;
}

.aside-list .aside-item .aside-link {
    color: #333;
}

.aside-list .aside-item svg {
    float: right;
    transform: rotate(270deg);
}




.nav-menu .nav-menu-hotline img {
    width: 42px;
    height: 46px;
}

.nav-menu .nav-menu-hotline .txt-hotline a {
    color: #333;
    font-size: 24px;
    font-weight: 700;
}



.body-wapper {
    margin-left: 350px;
}

 /*jssor slider loading skin double-tail-spin css*/
 .jssorl-004-double-tail-spin img {
    animation-name: jssorl-004-double-tail-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 031 css*/
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill-opacity: .3; fill:#fff;}
.jssorb031 .i:hover .b {fill:#fff; fill-opacity: .3;}
.jssorb031 .iav .b {fill:#fff; fill-opacity: 1;}
.jssorb031 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}


.sub-banner-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -140px;
    z-index: 2;
}